@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  font-family: Raleway;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navbar */
a {
  text-decoration: none;
}

.navbar{
  position: absolute;
  min-height: 80px;
  width: 100%;
  background-color: #68EC75;
}

.brand p {
  float: left;
  padding-left: 15px;
  padding-top: 10px;

}

.brand a{
  position: absolute;
  left: 15px;
  bottom: 5px;
  font-size: 55px;
  color: rgb(255, 255, 255);
}

ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding-left: 0;
  top: 32px;
  right: 5px;
}

li {
  font-size: 15px;
  float: left;
  position: relative;
  text-decoration: none;
  background-color:  #68EC75;
  transition-duration: 0.5s;
}

li a {
  display: block;
  padding: 15px;
  background-color:  #68EC75;
  color: white;
}

li a:hover {
  background: #3FBA91;
  cursor: pointer;
}

li a:active {
  color: black;
}

.cart-num {
  color: red;
  position: absolute;
  top: 0;
  left: 20px;
}

/* forms */
.login-form {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 125px;
  width: 500px;
  height: 500px;
  text-align: center;
}
.billing-information-form{
  position: relative;
  display: block;
  margin: auto;
  padding-top: 125px;
  width: 500px;
  height: 500px;
  text-align: center;
}
.shipping-and-order-info{
  position: relative;
  display: block;
  margin: auto;
  padding-top: 125px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.login-form h1 {
  top: 50%;
}

.login-form a {
  color: blue;
}

.register-form, .checkout-form {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-left: 50px;
  width: 700px;
  height: 500px;
  text-align: left;
}

h1 {
  text-align: center;
}

p {
  margin-top: 10px;
}

form input {
  height: auto;
  border: none;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  background-color: #E5E2E2;
}

button {
  display: block;
  background-color: #3898EC;
  color: white;
  border: none;
  margin: auto;
  margin-top: 10px;
  padding: 15px 100px;
}


/* shopping cart  */
.flex {
  display: flex;
}

.cart {
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-left: 25px;
  width: 700px;
  height: 500px;
}

.cart-item {
  width: 100%;
  height: 120px;
  border-top: 1px solid black;
  align-items: center;
}

.cart-item img {
  height: 100px;    
  width: auto;
  padding-right: 25px;
}

.cart-item button {
  font-size: 20px;
  margin-top: 50px;
  padding: 5px 10px;
}

.total {
  text-align: end;
}

.total button {
  margin-right: 0;
}






/* footer */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color:  #68EC75;
  text-align: center;
  color: white;
}

footer p {
  padding-top: 25px;
}



/* */

.homeButton {
  color: #06a3fb;
  position: relative;
  display: block;
  margin-top: 90px;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  text-align: left;
}
.sidebar-filter {
  position: relative;
  display: inline-block;
  margin-top: 200px;
  margin-left: 20px;
  width: 200px;
  height: 30px;
  text-align: left;
}
.sidebar-header {
  font-size: 25px;
}
.sidebar-separator {
  margin-top: 10px;
  margin-bottom: 5px;
}
.sidebar-border {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.category-name {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  text-align: left;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3898ec;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.column {
  float: right;
  width: 25%;
  height: auto;
  padding: 0 10px;
  display: flex;
}

.row {
}
.product-section {
  margin-bottom: 20px;
}
.quantity {
  display: inline;
  width: auto;
}
.add-to-card-btn {
  display: block;
  background-color: #3898ec;
  color: white;
  border: none;
  margin: auto;
  margin-top: 10px;
  padding: 15px 100px;
}